@import url("https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css");

/* https://fontlibrary.org/en/font/gnu-unifont */
@font-face {
  font-family: UnifontMedium;
  /*src: url(UnifontMedium.woff) format("woff");*/
  src: url("https://cdn.jsdelivr.net/gh/avidrucker/anki-card-test-1/public/UnifontMedium.woff")
    format("woff");
}

/* Anki-only styling to take up all vertical space of the card display window */
html,
body,
div#qa {
  height: 100%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.invisible-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.invisible-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.shift-up-right {
  position: relative;
  top: -0.1rem;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* Prevents content from "spilling" */
  border-width: 0;
}

.visually-hidden:hover {
  position: inherit;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
  white-space: normal;
  border-width: 0;
}

.off-screen {
  position: absolute;
  left: -9999px;
}

.balance {
  text-wrap: balance;
}

.play-button {
  color: inherit;
  background-color: transparent;
  border: none;
  z-index: inherit;
  cursor: inherit;
  text-shadow: inherit;
  line-height: inherit;
  padding: 0;
}

:root {
  --dark-green: #233501;
  --medium-green: #446710;
  --green: #8d9a4a;
  --light-green: #d0cf9d;
  --light-gray: #cbcbcb;
}

.unifont-medium {
  font-family: "UnifontMedium", mono;
  font-weight: normal;
  font-style: normal;
}

/*.card is primarily for styling the background of both front and back cards*/
.card {
  background-color: var(--light-gray);
  overflow-y: hidden;
}

.dark-green {
  color: var(--dark-green);
}

.bg-light-green {
  background-color: var(--light-green);
}

.b--dark-green {
  border-color: var(--dark-green);
}

.b--medium-green {
  border-color: var(--medium-green);
}

.medium-green {
  color: var(--medium-green);
}

.bg-green {
  background-color: var(--green);
}

.bg-light-gray {
  background-color: var(--light-gray);
}

.image-wrapper:hover {
  filter: url("");
}

.image-wrapper .up-contrast {
  filter: contrast(1.25);
}

.image-wrapper:hover * {
  filter: url("");
}

.image-wrapper {
  filter: url(#colorFilter);
}

.lh-audio {
  line-height: 2.5rem;
}

.grow-custom > * {
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.grow-custom > *:hover,
.grow-custom > *:focus {
  transform: scale(1.05);
}

.grow-custom > *:active {
  transform: scale(0.9);
}

/* input-reset input-8-bit f3 w-100 dark-green ba b--medium-green bg-green pa2 */
#input-container input {
  -webkit-appearance: none;
  background-color: var(--green);
  color: var(--dark-green);
  font-size: 1.5rem;
  padding: 0.5rem;
  border: 1px solid var(--medium-green);
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#input-container input::placeholder {
  color: var(--medium-green);
}

#input-container input:focus {
  outline: 0 none;
  background-color: var(--light-green);
  border: 1px solid var(--dark-green) !important;
}

#input-container input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* Anki Only Styles*/
.append-play-btn-text a::after {
  content: "▶";
  color: var(--medium-green);
}

.append-play-btn-text svg {
  display: none;
}

.append-play-btn-text button {
  font-size: 5rem;
  cursor: pointer;
}

.append-play-btn-text {
  height: 2.5rem;
}

.replay-button {
  margin: 0;
  font-size: 5rem;
}
